<div class="track">
    <div class="icon">
        <svg width="30" height="30">
            <use xlink:href="#video"></use>
        </svg>
    </div>
    <div class="drop">
        <div class="timeline"></div>
        <div class="drop-box"></div>
    </div>
</div>
<div class="track">
    <div class="icon">
        <svg width="30" height="30">
            <use xlink:href="#audio"></use>
        </svg>
    </div>
    <div class="drop">
        <div class="timeline"></div>
        <div class="drop-box"></div>
    </div>
</div>
