<div class="v-ct-panel">
    <ul>
        <li (click)="switchTab(1)" [ngClass]="tabIndex === 1 ? 'tab-active' : ''">
            <svg width="20" height="20">
                <use xlink:href="#video"></use>
            </svg>
        </li>
        <li (click)="switchTab(2)" [ngClass]="tabIndex === 2 ? 'tab-active' : ''">
            <svg width="20" height="20">
                <use xlink:href="#image"></use>
            </svg>
        </li>
        <li (click)="switchTab(3)" [ngClass]="tabIndex === 3 ? 'tab-active' : ''">
            <svg width="20" height="20">
                <use xlink:href="#audio"></use>
            </svg>
        </li>
        <li (click)="switchTab(4)" [ngClass]="tabIndex === 4 ? 'tab-active' : ''">
            <svg width="20" height="20">
                <use xlink:href="#transition"></use>
            </svg>
        </li>
        <li (click)="switchTab(5)" [ngClass]="tabIndex === 5 ? 'tab-active' : ''">
            <svg width="20" height="20">
                <use xlink:href="#text"></use>
            </svg>
        </li>
    </ul>

    <div class="v-ct-list" *ngIf="tabIndex === 1">
        <drag-item class="v-ct-item"
            *ngFor="let item of list"
            [data]="item"
            [type]="'video'"
            (output)="output($event)">
        </drag-item>
    </div>

    <div class="v-ct-list" *ngIf="tabIndex === 2">
        <drag-item class="v-ct-item"
            *ngFor="let item of list"
            [data]="item"
            [type]="'image'"
            (output)="output($event)">
        </drag-item>
    </div>

    <div class="v-ct-list" *ngIf="tabIndex === 3">
        <drag-item *ngFor="let item of list"
            [data]="item"
            [type]="'audio'"
            (output)="output($event)">
        </drag-item>
    </div>

    <div class="v-ct-list" *ngIf="tabIndex === 4">过渡</div>

    <div class="v-ct-list" *ngIf="tabIndex === 5">文字</div>
</div>
<drag class="v-drag" [transfer]="transfer" *ngIf="transfer"></drag>
